// SITE FONTS
$primaryFont: "Young Serif";
$secondaryFont: "Jakarta Sans";

$baseFontSize: 1rem;

// SITE COLOURS

$primaryTextColor: #084b6d;
$secondaryTextColor: #f4fcff;
$tertiaryTextColor: #f8fbf3;
$quaternaryTextColor: #fff5f5;
$quinaryTextColor: #ffd698;
$senaryTextColor: #d3f0f9;
$septenaryTextColor: #fff;
